USE [C:\USERS\THISA\DOWNLOADS\GROUP 7\GROUP 7\STUDENT MANAGEMENT\SCHOOLMANAGEMENT\SCHOOLMANAGEMENT\SCHOOLDB.MDF]
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 2/13/2026 4:08:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance](
	[AID] [int] NOT NULL,
	[StudentName] [varchar](100) NULL,
	[Status] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[AID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Entroll]    Script Date: 2/13/2026 4:08:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Entroll](
	[EID] [int] NOT NULL,
	[StudentName] [varchar](100) NULL,
	[Section] [varchar](50) NULL,
	[EntrollDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[EID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[logindetails]    Script Date: 2/13/2026 4:08:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[logindetails](
	[Login_ID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[UserRole] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Login_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sections]    Script Date: 2/13/2026 4:08:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sections](
	[SectionID] [int] NOT NULL,
	[StudentName] [varchar](100) NULL,
	[SectionName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[students]    Script Date: 2/13/2026 4:08:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[students](
	[StudentID] [int] NOT NULL,
	[StudentName] [varchar](100) NOT NULL,
	[Dob] [date] NULL,
	[Gender] [varchar](10) NULL,
	[Phone] [varchar](15) NULL,
	[Email] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 2/13/2026 4:08:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[SubjectID] [int] NOT NULL,
	[SubjectName] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[teachers]    Script Date: 2/13/2026 4:08:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[teachers](
	[TeacherID] [int] NOT NULL,
	[TeacherName] [varchar](100) NOT NULL,
	[Gender] [varchar](10) NULL,
	[Phone] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[TeacherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Attendance] ([AID], [StudentName], [Status]) VALUES (101, N'Chris Johnson', N'Present')
INSERT [dbo].[Attendance] ([AID], [StudentName], [Status]) VALUES (102, N'Dana Lee', N'Absent')
GO
INSERT [dbo].[Entroll] ([EID], [StudentName], [Section], [EntrollDate]) VALUES (1, N'Amara Fernando', NULL, CAST(N'2025-01-10' AS Date))
INSERT [dbo].[Entroll] ([EID], [StudentName], [Section], [EntrollDate]) VALUES (2, N'Vimal Kumara', NULL, CAST(N'2025-01-10' AS Date))
INSERT [dbo].[Entroll] ([EID], [StudentName], [Section], [EntrollDate]) VALUES (3, N'Nimali Rajith', NULL, CAST(N'2025-01-12' AS Date))
GO
SET IDENTITY_INSERT [dbo].[logindetails] ON 

INSERT [dbo].[logindetails] ([Login_ID], [UserName], [Password], [UserRole]) VALUES (1, N'admin', N'password', N'Admin')
INSERT [dbo].[logindetails] ([Login_ID], [UserName], [Password], [UserRole]) VALUES (2, N'user', N'user', N'User')
INSERT [dbo].[logindetails] ([Login_ID], [UserName], [Password], [UserRole]) VALUES (3, N'test', N'1234', N'User')
SET IDENTITY_INSERT [dbo].[logindetails] OFF
GO
INSERT [dbo].[Sections] ([SectionID], [StudentName], [SectionName]) VALUES (1, N'Mr. A. Silva', N'Grade 10 A')
INSERT [dbo].[Sections] ([SectionID], [StudentName], [SectionName]) VALUES (2, N'Ms. R. Perera', N'Grade 11 B')
INSERT [dbo].[Sections] ([SectionID], [StudentName], [SectionName]) VALUES (3, N'Mr. D. Bandara', N'Grade 9 C')
GO
INSERT [dbo].[students] ([StudentID], [StudentName], [Dob], [Gender], [Phone], [Email]) VALUES (1001, N'Amara Fernando', CAST(N'2008-05-15' AS Date), N'Female', N'070-1112223', N'a.fernando@mail.com')
INSERT [dbo].[students] ([StudentID], [StudentName], [Dob], [Gender], [Phone], [Email]) VALUES (1002, N'Vimal Kumara', CAST(N'2007-11-20' AS Date), N'Male', N'070-3334445', N'v.kumara@mail.com')
INSERT [dbo].[students] ([StudentID], [StudentName], [Dob], [Gender], [Phone], [Email]) VALUES (1003, N'Nimali Rajith', CAST(N'2008-01-01' AS Date), N'Female', N'070-6667778', N'n.rajith@mail.com')
GO
INSERT [dbo].[Subject] ([SubjectID], [SubjectName]) VALUES (105, N'Art & Design')
INSERT [dbo].[Subject] ([SubjectID], [SubjectName]) VALUES (103, N'English')
INSERT [dbo].[Subject] ([SubjectID], [SubjectName]) VALUES (104, N'History')
GO
INSERT [dbo].[teachers] ([TeacherID], [TeacherName], [Gender], [Phone]) VALUES (5001, N'Mr. A. Silva', N'Male', N'071-1234567')
INSERT [dbo].[teachers] ([TeacherID], [TeacherName], [Gender], [Phone]) VALUES (5002, N'Ms. R. Perera', N'Female', N'077-9876543')
INSERT [dbo].[teachers] ([TeacherID], [TeacherName], [Gender], [Phone]) VALUES (5003, N'Mr. K. Jones', N'Male', N'075-5551212')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__logindet__C9F28456C5288C81]    Script Date: 2/13/2026 4:08:16 PM ******/
ALTER TABLE [dbo].[logindetails] ADD UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Sections__8DACF8BEC645889C]    Script Date: 2/13/2026 4:08:16 PM ******/
ALTER TABLE [dbo].[Sections] ADD UNIQUE NONCLUSTERED 
(
	[SectionName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Subject__4C5A7D55B77EC0F3]    Script Date: 2/13/2026 4:08:16 PM ******/
ALTER TABLE [dbo].[Subject] ADD UNIQUE NONCLUSTERED 
(
	[SubjectName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[logindetails] ADD  DEFAULT ('Admin') FOR [UserRole]
GO
